importFrom(MASS, kde2d, width.SJ)
import(methods)

importFrom(mrfDepth, compBagplot)

importFrom(grDevices, chull, contourLines, dev.off)
importFrom(graphics, arrows, axis, mtext, par, plot, points, polygon)
importFrom(stats, approx, density, dist)

export(bivrp, plot.bivrp, print.bivrp, is_point_inside, polygon_area, get_newpolygon, get_reduced_bag)

S3method(plot, bivrp)
S3method(print, bivrp)